<div class="container">
    <div class="month">
        <ul>
          <li>Schedule your session!<br><span style="font-size:11px">Timezone: Lisbon (+1)</span></li>
        </ul>
    </div>
      
    <ul class="weekdays">
        <li class="prev" (click)="priorPage()" >&#10094;</li>
        <li *ngFor="let schedule of list | paginate: { itemsPerPage: 5, currentPage: page }"> 
            <p style="font-size:9px; color: #666;"> {{schedule.date | date: "EE"}} </p>
            {{schedule.date | date: "MMM dd"}}
        </li>
        <li class="next" (click)="nextPage()">&#10095;</li>
    </ul>
    
    <ul class="days">
        <li></li>
        <li *ngFor="let schedule of list | paginate: { itemsPerPage: 5, currentPage: page }"> 
            <ul class="times">
                <li *ngFor="let time of schedule.times | paginate: { itemsPerPage: 5, currentPage: pageTime }" (click)="choiceTime(time)" 
                            [className]="time.checked ? 'active' : 'inactive'">
                    <div >
                        {{time.time}}
                    </div>                    
                </li>
                <li style="background-color: #eee;">
                    <a (click)="priorPageTime()">&#10094;</a>
                    &nbsp;
                    <a (click)="nextPageTime()">&#10095;</a>                    
                </li>
            </ul>
        </li>
        <li></li>
    </ul>
    
</div>

<br/>

